<!-- sidebar.component.html -->
<aside
  [ngClass]="{'translate-x-0': isOpen, '-translate-x-full': !isOpen, 'xl:translate-x-0': true}"
  class="bg-white fixed inset-0 z-50 w-64 transition-transform duration-300 h-screen shadow-lg rounded-lg xl:block"
>
  <div class="relative border-b border-mint rounded-t-lg">
    <a class="flex items-center gap-3 py-6 px-6" href="#/">
      <h6 class="block antialiased tracking-normal font-sans text-base font-semibold text-darkGray">
        Medical Dashboard
      </h6>
    </a>
    <!-- Cerrar botón para dispositivos móviles -->
    <button (click)="close()" class="xl:hidden absolute right-4 top-4 text-gray-800">
        <span class="material-icons">close</span>
    </button>
  </div>

  <!-- Contenedor del menú con desplazamiento -->
  <div class="m-4 h-[calc(100vh-100px)] overflow-y-auto">
    <ul class="mb-4 flex flex-col gap-1">
      <li *ngFor="let menuItem of menuItems">
        <a [routerLink]="menuItem.route" (click)="setSelected(menuItem.title)" *ngIf="menuItem.route">
          <button [ngClass]="{
              'bg-primary text-white': selected === menuItem.title,
              'text-darkGray': true,
              'hover:bg-mint': true,
              'active:bg-mint': true
            }"
            class="middle none font-sans font-medium transition-all text-sm py-2 rounded-lg flex w-full items-center justify-start px-4"
            type="button">
            <span *ngIf="menuItem.icon" class="material-icons mr-2 text-darkGray">{{ menuItem.icon }}</span>
            <p class="block antialiased font-sans text-base text-inherit font-medium text-left">
              {{menuItem.title}}
            </p>
          </button>
        </a>
        <!-- Submenu rendering -->
        <ul *ngIf="menuItem.submenus && menuItem.submenus.length" class="ml-5">
          <li *ngFor="let submenu of menuItem.submenus">
            <a [routerLink]="submenu.route" (click)="setSelected(submenu.title)" *ngIf="submenu.route">
              <button [ngClass]="{
                  'bg-mint text-white': selected === submenu.title,
                  'text-darkGray': true, 
                  'hover:bg-lightGreen': true,
                  'active:bg-mint': true
                  }" 
                  class="middle none font-sans text-sm py-1 rounded-lg flex w-full items-center justify-start px-4"
                  type="button">
                <p class="text-left">{{submenu.title}}</p>
              </button>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
