<div class="p-6 bg-white rounded-lg shadow-md w-full max-w-3xl mx-auto">
    <h2 class="text-2xl font-semibold mb-4 text-center">Gestionar Usuarios</h2>

    <!-- Inputs para filtrar usuarios -->
    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0 mb-6">
        <input
            class="flex-1 px-4 py-2 text-sm border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none"
            type="text" placeholder="Nombre del Usuario" />
        <input
            class="flex-1 px-4 py-2 text-sm border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none"
            type="email" placeholder="Correo Electrónico" />
    </div>

    <!-- Vista de tabla en pantallas grandes -->
    <div class="hidden md:block bg-lightGray p-4 rounded-lg shadow-md">
        <h3 class="text-lg font-semibold mb-2 text-center md:text-left">Usuarios Existentes</h3>
        <div class="overflow-x-auto">
            <table class="w-full text-left border-collapse">
                <thead>
                    <tr class="bg-gray-100 border-b border-gray-300">
                        <th class="p-3 text-darkGray font-semibold">Nombre</th>
                        <th class="p-3 text-darkGray font-semibold">Usuario</th>
                        <th class="p-3 text-darkGray font-semibold">Email</th>
                        <th class="p-3 text-darkGray font-semibold">Rol</th>
                        <th class="p-3 text-darkGray font-semibold text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users" class="border-b border-gray-300 bg-white hover:bg-gray-50">
                        <td class="p-3">{{ user.nombre }}</td>
                        <td class="p-3">{{ user.usuario }}</td>
                        <td class="p-3">{{ user.email }}</td>
                        <td class="p-3">{{ user.role.name }}</td>
                        <td class="p-3 text-center">
                            <button (click)="openModal(user,user.role)" class="px-4 py-1 bg-primary text-white rounded-md transition duration-300 hover:bg-mint">
                                Editar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Vista de lista en pantallas móviles -->
    <div class="block md:hidden bg-lightGray p-4 rounded-lg shadow-md">
        <h3 class="text-lg font-semibold mb-2 text-center md:text-left">Usuarios Existentes</h3>
        <ul class="space-y-3">
            <li *ngFor="let user of users" class="flex flex-col bg-white px-4 py-2 rounded-md shadow-sm border border-gray-300">
                <div class="text-center">
                    <p class="font-medium">{{ user.nombre }}</p>
                    <p class="text-sm text-gray-500">Usuario: {{ user.usuario }}</p>
                    <p class="text-sm text-gray-500">Email: {{ user.email }}</p>
                    <p class="text-sm text-gray-500">Rol: {{ user.role.name }}</p>
                </div>
                <div class="flex justify-center space-x-2 mt-2">
                    <button (click)="openModal(user, user.role)" class="px-4 py-1 bg-primary text-white rounded-md transition duration-300 hover:bg-mint">
                        Editar
                    </button>
                </div>
            </li>
        </ul>
    </div>

    <!-- Modal de edición -->
    <div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75">
        <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-sm">
            <h3 class="text-xl font-semibold mb-4">Editar Rol de Usuario</h3>
            <p class="mb-2"><strong>Nombre:</strong> {{ selectedUser?.nombre }}</p>
            <p class="mb-4"><strong>Email:</strong> {{ selectedUser?.email }}</p>
            
            <label for="role" class="block text-sm font-medium">Rol</label>
            <select id="role" [(ngModel)]="selectedRol" class="w-full px-3 py-2 border border-gray-300 rounded-md mb-4">
                <option *ngFor="let role of roles" [ngValue]="role">{{ role.name }}</option>
            </select>
            
            

            <div class="flex justify-end space-x-2">
                <button (click)="saveChanges()" class="px-4 py-2 bg-primary text-white rounded-md hover:bg-mint">
                    Guardar
                </button>
                <button (click)="closeModal()" class="px-4 py-2 bg-gray-500 text-white rounded-md hover:bg-gray-700">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Overlay de carga -->
<div *ngIf="onWait" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
    <div class="text-center text-white">
        <div class="loader mb-4"></div>
        <p>Cargando datos...</p>
    </div>
</div>