<div class="p-6 bg-white rounded-lg shadow-md w-full max-w-screen-xl mx-auto">
    <h2 class="text-2xl font-semibold mb-4">Detalles del Asegurado</h2>
  
    <!-- Información Básica -->
    <div class="mb-6">
      <h3 class="text-lg font-semibold">Información Básica</h3>
      <p><strong>Nombre:</strong> {{ insured?.nombre }}</p>
      <p><strong>Usuario:</strong> {{ insured?.usuario }}</p>
      <p><strong>Email:</strong> {{ insured?.email }}</p>
      <p><strong>Fecha Nacimiento:</strong> {{ insured?.fecha_nacimiento }}</p>
      <p><strong>Telefono:</strong> {{ insured?.telefono }}</p>
      <p><strong>Dirección:</strong> {{ insured?.direccion }}</p>
    </div>
  
    <!-- Botón para editar la información del asegurado -->
    <div class="mb-6 text-right">
      <button (click)="editInsured()" class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-500">
        <i class="lni lni-pencil-alt mr-2"></i> Editar Información
      </button>
    </div>
  
    <!-- Antecedentes -->
    <div class="mb-6">
      <h3 class="text-lg font-semibold">Antecedentes</h3>
      
      <!-- Botón para agregar un nuevo antecedente -->
      <div class="mb-4 text-right">
        <button (click)="addRecord()" class="px-4 py-2 bg-primary text-white rounded-md hover:bg-mint">
          <i class="lni lni-plus mr-2"></i> Agregar Antecedente
        </button>
      </div>
      
      <!-- Lista de antecedentes en formato card -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <div *ngFor="let record of records" class="bg-white p-4 rounded-lg shadow-md border">
          <h4 class="text-md font-semibold">Tipo: {{ record.tipo }}</h4>
          <p><strong>Descripción:</strong> {{ record.descripcion }}</p>
          
          <!-- Botones para editar y eliminar antecedentes -->
          <div class="mt-4 flex space-x-2">
            <button (click)="editRecord(record.id)" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-400">
              <i class="lni lni-pencil-alt mr-2"></i> Editar
            </button>
            <button (click)="deleteRecord(record.id)" class="px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-500">
              <i class="lni lni-trash mr-2"></i> Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Overlay de carga -->
  <div *ngIf="onWait" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
    <div class="text-center text-white">
      <div class="loader mb-4"></div>
      <p>Cargando datos...</p>
    </div>
  </div>
  