<div class="layout min-h-screen bg-gray-50/50 flex overflow-hidden">
    <!-- Sidebar -->
    <app-sidebar [isOpen]="isSidebarOpen" (closeSidebar)="toggleSidebar()"></app-sidebar>

    <!-- Contenedor de contenido que incluye header, main y footer -->
    <div class="content-container flex flex-col w-full">
        <!-- Header -->
        <nav class="header w-full bg-transparent text-white shadow-none rounded-xl transition-all px-0 py-1">
            <app-header></app-header>
        </nav>

        <!-- Main Content -->
        <div class="main-content flex-grow p-4 overflow-y-auto">
            <router-outlet></router-outlet>
        </div>

        <!-- Footer -->
        <footer class="footer text-blue-gray-600 mt-auto w-full">
            <app-footer></app-footer>
        </footer>
    </div>
</div>
