<div class="p-6 bg-white rounded-lg shadow-md w-full max-w-screen-xl mx-auto">
    <h2 class="text-2xl font-semibold mb-4 text-center">Gestionar Asegurados</h2>

    <!-- Inputs para filtrar usuarios -->
    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0 mb-6">
        <input
            class="flex-1 px-4 py-2 text-sm border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none"
            type="text" placeholder="Nombre del Usuario" />
    </div>

    <!-- Vista de tabla en pantallas grandes -->
    <div class="md:block bg-white p-6 rounded-lg shadow-md">
        <h3 class="text-lg font-semibold mb-2 text-center md:text-left">Asegurados</h3>
        <table class="w-full border border-gray-100 text-left border-collapse overflow-hidden sm:text-sm">
            <thead>
                <tr class="bg-gray-100">
                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-100">Id</th>
                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-100">Nombre</th>
                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-100">Email</th>
                    <th class="p-3 text-gray-600 font-semibold text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let insured of insureds" class="hover:bg-gray-50 border-b border-gray-100">
                    <td class="p-3 border-r border-gray-100">{{ insured.id }}</td>
                    <td class="p-3 border-r border-gray-100">{{ insured.nombre }}</td>
                    <td class="p-3 border-r border-gray-100">{{ insured.email }}</td>
                    <td class="p-3 text-center">
                        <button [routerLink]="['/asegurados', insured.id]"
                            class="px-4 py-1 bg-primary text-white rounded-md transition duration-300 hover:bg-mint">
                            Ver Detalles
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>




</div>
<!-- Overlay de carga -->
<div *ngIf="onWait" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
    <div class="text-center text-white">
        <div class="loader mb-4"></div>
        <p>Cargando datos...</p>
    </div>
</div>