<div class="p-6 bg-white rounded-lg shadow-md w-full max-w-screen-xl mx-auto">
    <h2 class="text-2xl font-semibold mb-4 text-center">Gestion de Atenciones</h2>

    <!-- Inputs para filtrar -->
    <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4 mb-6 px-6">
        <!-- Selector de doctores -->
        <select class="flex-1 px-4 py-2 text-sm border border-gray-200 rounded-lg focus:outline-none"
            [(ngModel)]="doctorFilter" (change)="applyFilters()">
            <option value="" selected disabled>Seleccionar doctor</option>
            <option *ngFor="let doctor of doctors" [value]="doctor.id">
                {{ doctor.nombre }}
            </option>
        </select>

        <!-- Selector de servicios -->
        <select class="flex-1 px-4 py-2 text-sm border border-gray-200 rounded-lg focus:outline-none"
            [(ngModel)]="serviceFilter" (change)="applyFilters()">
            <option value="" selected disabled>Seleccionar servico</option>
            <option *ngFor="let service of services" [value]="service.id">
                {{ service.nombre }}
            </option>
        </select>

        <!-- Selector de fecha -->
        <div class="relative w-full md:w-auto">
            <input matInput [matDatepicker]="picker" placeholder="Seleccionar fecha" [(ngModel)]="dateFilter"
                (dateChange)="applyFilters()"
                class="w-full px-4 py-2 text-sm border border-gray-200 rounded-lg focus:outline-none" />
            <mat-datepicker-toggle matSuffix [for]="picker"
                class="absolute right-2 top-1/2 transform -translate-y-1/2"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </div>

        <!-- Botón de limpiar filtros -->
        <button
            class="md:px-5 md:py-2 px-3 py-1 text-sm md:text-base bg-red-500 text-white rounded-lg shadow-sm hover:bg-red-600 transition duration-200"
            (click)="clearFilters()">
            Limpiar Filtros
        </button>
    </div>


    <!-- Vista de tabla en pantallas grandes -->
    <div class="md:block bg-white p-6 rounded-lg shadow-md">
        <table class="w-full border border-gray-200 border-collapse text-left overflow-hidden sm:text-sm">
            <thead>
                <tr class="bg-gray-200 ">
                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-200 sm:p-2 w-32">ID Atencion</th>
                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-200 sm:p-2 w-32">ID Asegurado</th>
                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-200 sm:p-2">Nombre
                        Asegurado</th>
                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-200 sm:p-2 w-28">Hora</th>
                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-200 sm:p-2 w-28">Estado</th>
                    <th class="p-3 text-center text-gray-600 font-semibold w-28">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of reservationsFiltered" class="border-b border-gray-200 hover:bg-gray-50">
                    <td class="p-3 border-r border-gray-200 sm:p-2">{{ reservation.id }}</td>
                    <td class="p-3 border-r border-gray-200 sm:p-2">{{ reservation.persona.id }}</td>
                    <td class="p-3 border-r border-gray-200 sm:p-2">{{ reservation.asegurado.nombreAsegurado }}</td>
                    <td class="p-3 border-r border-gray-200 sm:p-2">
                        {{ formatTime(reservation.horaReserva) }}
                    </td>
                    <td class="p-3 border-r border-gray-200 sm:p-2">{{ reservation.estado}}</td>
                    <td class="p-3 text-center">
                        <div class="inline-flex space-x-2">
                            <button (click)="openEditModal(reservation)"
                                class="px-3 py-1 bg-blue-500 text-white rounded-lg hover:bg-blue-400 transition duration-200">
                                <i class="lni lni-pencil-alt"></i>
                            </button>
                            <button (click)="confirmDelete()"
                                class="px-3 py-1 bg-red-600 text-white rounded-lg hover:bg-red-500 transition duration-200">
                                <i class="lni lni-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

    <!-- Modal para editar atención -->
    <div *ngIf="isEditModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-start justify-center z-50">
        <div class="bg-white rounded-lg w-11/12 max-w-7xl p-6 shadow-lg mt-10 ">
            <div class="flex justify-between items-center border-b pb-2 mb-6">
                <h3 class="text-xl font-semibold">Editar Atención</h3>
                <button (click)="closeEditModal()" class="text-gray-600 hover:text-gray-800 text-2xl">&times;</button>
            </div>

            <!-- Navegación por pestañas -->
            <ul class="flex border-b mb-6">
                <li *ngFor="let section of modalSections; let i = index" class="cursor-pointer px-5 py-3 border-b-2"
                    [class.border-blue-500]="activeTab === i" [class.font-semibold]="activeTab === i"
                    (click)="selectTab(i)">
                    {{ section }}
                </li>
            </ul>

            <!-- Contenido del modal -->
            <div>
                <div *ngIf="activeTab === 0">
                    <h4 class="text-blue-500 font-semibold mb-4">Farmacia</h4>

                    <!-- Formulario para agregar medicamentos -->
                    <div class="flex flex-wrap gap-4 items-center mb-6">
                        <input type="text" placeholder="Medicamento" [(ngModel)]="newMedicamento.nombre"
                            class="flex-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <input type="text" placeholder="Dosis" [(ngModel)]="newMedicamento.dosis"
                            class="flex-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <input type="text" placeholder="Frecuencia" [(ngModel)]="newMedicamento.frecuencia"
                            class="flex-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <input type="text" placeholder="Duración" [(ngModel)]="newMedicamento.duracion"
                            class="flex-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <input type="text" placeholder="Instrucciones" [(ngModel)]="newMedicamento.instrucciones"
                            class="flex-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <button
                            class="bg-blue-500 text-white px-6 py-2 rounded-lg hover:bg-blue-600 transition duration-200">
                            Guardar
                        </button>
                    </div>

                    <!-- Tabla para mostrar medicamentos -->
                    <div class="md:block bg-white p-6 rounded-lg shadow-md">
                        <table
                            class="w-full border border-gray-200 border-collapse text-left overflow-hidden sm:text-sm">
                            <thead>
                                <tr class="bg-gray-200">
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Medicamento
                                    </th>
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Dosis</th>
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Frecuencia</th>
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Duración</th>
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Instrucciones
                                    </th>
                                    <th class="p-3 text-gray-600 font-semibold text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let medicamento of medicamentos"
                                    class="hover:bg-gray-50 border-b border-gray-300">
                                    <td class="p-3 border-r border-gray-300">{{ medicamento }}</td>
                                    <td class="p-3 border-r border-gray-300">{{ medicamento }}</td>
                                    <td class="p-3 border-r border-gray-300">{{ medicamento }}</td>
                                    <td class="p-3 border-r border-gray-300">{{ medicamento }}</td>
                                    <td class="p-3 border-r border-gray-300">{{ medicamento }}</td>
                                    <td class="p-3 text-center">
                                        <button
                                            class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 transition duration-200">
                                            Eliminar
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div *ngIf="activeTab === 1">
                    <h4 class="text-blue-500 font-semibold mb-4">Laboratorio</h4>

                    <!-- Formulario para agregar exámenes -->
                    <div class="flex flex-wrap gap-4 items-center mb-6">
                        <input type="text" placeholder="Tipo de Laboratorio " [(ngModel)]="newLaboratorio.tipo_examen"
                            class="flex-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <input type="date" placeholder="Fecha de Laboratorio " [(ngModel)]="newLaboratorio.fecha_examen"
                            class="flex-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <input type="text" placeholder="Resultados" [(ngModel)]="newLaboratorio.resultados"
                            class="flex-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <input type="text" placeholder="Observaciones" [(ngModel)]="newLaboratorio.observaciones"
                            class="flex-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <select [(ngModel)]="newLaboratorio.estado"
                            class="flex-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <option value="" disabled selected>Estado</option>
                            <option value="Pendiente">Pendiente</option>
                            <option value="Completado">Completado</option>
                        </select>
                        <button (click)="createLaboratorio()"
                            class="bg-blue-500 text-white px-6 py-2 rounded-lg hover:bg-blue-600 transition duration-200">
                            Guardar
                        </button>
                    </div>

                    <!-- Tabla para mostrar exámenes -->
                    <div class="md:block bg-white p-6 rounded-lg shadow-md">
                        <table
                            class="w-full border border-gray-200 border-collapse text-left overflow-hidden sm:text-sm">
                            <thead>
                                <tr class="bg-gray-200">
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Tipo de
                                        Laboratorio
                                    </th>
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Fecha</th>
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Resultados</th>
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Observaciones
                                    </th>
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Estado</th>
                                    <th class="p-3 text-gray-600 font-semibold text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let Laboratorio of laboratorios"
                                    class="hover:bg-gray-50 border-b border-gray-300">
                                    <td class="p-3 border-r border-gray-300">{{ Laboratorio.tipo_examen }}</td>
                                    <td class="p-3 border-r border-gray-300">{{ Laboratorio.fecha_examen }}</td>
                                    <td class="p-3 border-r border-gray-300">{{ Laboratorio.resultados }}</td>
                                    <td class="p-3 border-r border-gray-300">{{ Laboratorio.observaciones }}</td>
                                    <td class="p-3 border-r border-gray-300">{{ Laboratorio.estado }}</td>
                                    <td class="p-3 text-center">
                                        <button
                                            class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 transition duration-200">
                                            Eliminar
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div *ngIf="activeTab === 2">
                    <h4 class="text-blue-500 font-semibold mb-4">Tratamiento</h4>

                    <!-- Formulario para agregar tratamientos -->
                    <div class="flex flex-wrap gap-4 items-center mb-6">
                        <input type="text" placeholder="Descripción" [(ngModel)]="newTratamiento.descripcion"
                            class="flex-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500">
                        <input type="date" placeholder="Fecha de inicio" [(ngModel)]="newTratamiento.fecha_inicio"
                            class="flex-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500">
                        <input type="date" placeholder="Fecha de fin" [(ngModel)]="newTratamiento.fecha_fin"
                            class="flex-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500">
                        <select [(ngModel)]="newTratamiento.estado"
                            class="flex-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500">
                            <option value="" disabled selected>Estado</option>
                            <option value="En progreso">En progreso</option>
                            <option value="Completado">Completado</option>
                            <option value="Pendiente">Pendiente</option>
                        </select>
                        <input type="text" placeholder="Resultados" [(ngModel)]="newTratamiento.resultados"
                            class="flex-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500">
                        <button (click)="createTratamiento()"
                            class="bg-blue-500 text-white px-6 py-2 rounded-lg hover:bg-blue-600 transition duration-200">
                            Guardar
                        </button>
                    </div>

                    <!-- Tabla para mostrar tratamientos -->
                    <div class="md:block bg-white p-6 rounded-lg shadow-md">
                        <table
                            class="w-full border border-gray-200 border-collapse text-left overflow-hidden sm:text-sm">
                            <thead>
                                <tr class="bg-gray-200">
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Descripción
                                    </th>
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Fecha inicio
                                    </th>
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Fecha fin</th>
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Estado</th>
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-300">Resultados</th>
                                    <th class="p-3 text-gray-600 font-semibold text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tratamiento of tratamientos"
                                    class="hover:bg-gray-50 border-b border-gray-300">
                                    <td class="p-3 border-r border-gray-300">{{ tratamiento.descripcion }}</td>
                                    <td class="p-3 border-r border-gray-300">{{ tratamiento.fecha_inicio }}</td>
                                    <td class="p-3 border-r border-gray-300">{{ tratamiento.fecha_fin }}</td>
                                    <td class="p-3 border-r border-gray-300">{{ tratamiento.estado }}</td>
                                    <td class="p-3 border-r border-gray-300">{{ tratamiento.resultados }}</td>
                                    <td class="p-3 text-center">
                                        <button
                                            class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 transition duration-200">
                                            Eliminar
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div *ngIf="activeTab === 3">
                    <h4 class="text-blue-500 font-semibold mb-4">Atencion Médica</h4>

                    <!-- Formulario para alta médica -->
                    <div class="flex flex-wrap gap-4 items-center">
                        <!-- Motivo de consulta -->
                        <div class="flex-1">
                            <label for="motivo_consulta" class="block text-sm font-medium text-gray-700">Motivo de
                                consulta</label>
                            <input id="motivo_consulta" type="text" placeholder="Motivo de consulta"
                                [(ngModel)]="consulta.motivo_consulta"
                                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                        </div>
                        <!-- Diagnóstico -->
                        <div class="flex-1">
                            <label for="diagnostico" class="block text-sm font-medium text-gray-700">Diagnóstico</label>
                            <input id="diagnostico" type="text" placeholder="Diagnóstico"
                                [(ngModel)]="consulta.diagnostico"
                                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                        </div>
                        <!-- Recomendaciones -->
                        <div class="flex-1">
                            <label for="recomendaciones"
                                class="block text-sm font-medium text-gray-700">Recomendaciones</label>
                            <textarea id="recomendaciones" placeholder="Recomendaciones"
                                [(ngModel)]="consulta.recomendaciones"
                                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
                        </div>
                        <!-- Estado -->
                        <div class="flex-1">
                            <label for="estado" class="block text-sm font-medium text-gray-700">Estado</label>
                            <select id="estado" [(ngModel)]="consulta.estado"
                                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <option value="" disabled selected>Estado</option>
                                <option value="Pendiente">Pendiente</option>
                                <option value="Finalizado">Finalizado</option>
                            </select>
                        </div>
                    </div>


                    <!-- Botón para guardar alta médica -->
                    <div class="mt-4">
                        <button (click)="updateConsulta()"
                            class="bg-blue-500 text-white px-6 py-2 rounded-lg hover:bg-blue-600 transition duration-200">
                            Guardar
                        </button>
                    </div>
                </div>

                <div *ngIf="activeTab === 4">
                    <h4 class="text-blue-500 font-semibold">Historia Clínica</h4>
                    <div class="md:block bg-white p-6 rounded-lg shadow-md">
                        <table
                            class="w-full border border-gray-200 border-collapse text-left overflow-hidden sm:text-sm">
                            <thead>
                                <tr class="bg-gray-200 ">
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-200 sm:p-2 w-32">ID
                                        Atencion</th>
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-200 sm:p-2 w-32">ID
                                        Asegurado</th>
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-200 sm:p-2 w-32">
                                        Servicio</th>
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-200 sm:p-2">Nombre
                                        Asegurado</th>
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-200 sm:p-2 w-28">
                                        Hora</th>
                                    <th class="p-3 text-gray-600 font-semibold border-r border-gray-200 sm:p-2 w-28">
                                        Estado</th>
                                    <th class="p-3 text-center text-gray-600 font-semibold w-28">Acciones</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>

<!-- Overlay de carga -->
<div *ngIf="onWait" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
    <div class="text-center text-white">
        <div class="loader mb-4"></div>
        <p>Cargando datos...</p>
    </div>
</div>