<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<div class="p-6 bg-white rounded-2xl shadow-md w-80 mx-auto">
    <div class="text-center mb-6">
        <h4 class="text-2xl font-semibold text-darkGray">Asignar Permisos</h4>
        <p class="text-sm text-gray-500">Selecciona permisos para el rol</p>
    </div>
    <div class="space-y-3">
        <!-- Selector de roles -->
        <div class="mb-6">
            <h3 class="text-lg font-bold mb-2">Seleccionar Rol:</h3>
            <select [(ngModel)]="selectedRoleId" (change)="handleRoleChange($event)"
                class="w-full px-4 py-2 text-sm bg-lightGray border border-gray-300 rounded-lg text-darkGray placeholder-gray-400 focus:outline-none focus:bg-white focus:border-primary transition duration-300">
                <option value="" disabled selected>Seleccione un Rol</option>
                <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
            </select>
        </div>

        <!-- Lista de permisos -->
        <div class="mb-6">
            <h3 class="text-sm font-medium text-darkGray mb-2">Permisos Disponibles:</h3>
            <div *ngIf="permissions && permissions.length > 0; else noPermissions"
                class="flex flex-col items-start space-y-2">
                <label *ngFor="let permission of permissions" class="flex items-center space-x-2">
                    <input type="checkbox" [checked]="rolePermissions.includes(permission.id)"
                        (change)="handlePermissionChange(permission.id)" class="form-checkbox text-blue-500"
                        [disabled]="!selectedRoleId">
                    <span>{{ permission.nombre }}</span>
                </label>
            </div>
            <ng-template #noPermissions>
                <p class="text-gray-500">No hay permisos disponibles.</p>
            </ng-template>
        </div>

        <!-- Botón de guardar -->
        <div class="flex justify-center mt-6">
            <button (click)="handleSavePermissions()" [disabled]="!selectedRoleId"
                class="py-2 px-4 bg-primary hover:bg-mint text-white rounded-lg font-semibold transition duration-300 shadow-md">
                Guardar
            </button>
        </div>

        <!-- Overlay de carga -->
        <div *ngIf="onWait" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
            <div class="text-center text-white">
                <div class="loader mb-4"></div>
                <p>Cargando datos...</p>
            </div>
        </div>
        <div *ngIf="showSuccessMessage || showErrorMessage" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center z-50">
            <div class="bg-white rounded-lg shadow-md p-6 w-full max-w-md mx-auto">
                <h3 class="text-lg font-semibold text-center">
                    {{ showSuccessMessage ? '¡Éxito!' : '¡Error!' }}
                </h3>
                <p class="text-center">
                    {{ showSuccessMessage ? 'Asignación guardada exitosamente.' : 'No se pudo realizar la asignación, intente más tarde.' }}
                </p>
            </div>
        </div>
    </div>