// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use '@angular/material' as mat;

// Include the common styles for Angular Material.
// Be sure to include this mixin only once!
@include mat.core();

// Define the theme object.
$frontSI2-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component you are using.
:root {
  @include mat.all-component-themes($frontSI2-theme);
}

// Optional: Uncomment the line below if you want to use the pre-defined typography utility classes.
// @include mat.typography-hierarchy($frontSI2-theme);

// Optional: Uncomment the line below if you want to use deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($frontSI2-theme);
