<div class="reservations-table-container">
  <h2 class="title">Lista de Reservas</h2>

  <!-- Selector de fecha -->
  <div class="date-selector">
    <label for="date">Seleccionar Fecha:</label>
    <input id="date" type="date" [(ngModel)]="selectedDate" (change)="onDateChange(selectedDate)" />
  </div>

  <!-- Tablas separadas por servicio -->
  <div *ngFor="let serviceName of Object.keys(filteredReservationsByService)">
    <h3 class="service-title">{{ serviceName }}</h3>
    <table class="reservations-table">
      <thead>
        <tr>
          <th>Nombre del Asegurado</th>
          <th>Hora</th>
          <th>Servicio</th>
          <th>Estado</th>
          <th>Triaje</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of filteredReservationsByService[serviceName]">
          <td>{{ insuredData[reservation.asegurado.id].nombre || 'Cargando...' }}</td>
          <td>{{ reservation.horaReserva[0] }}:{{ reservation.horaReserva[1] | number: '2.0-0' }}</td>
          <td>{{ reservation.service.nombre }}</td>
          <td>{{ reservation.estado }}</td>
          <td>
            <button (click)="openModal(reservation.id)" class="open-modal-button">Registrar Triaje</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal de Registro de Triaje -->
<div class="modal-overlay" *ngIf="isModalVisible">
  <div class="modal-content">
    <h2>Registro de Triaje Médico</h2>

    <!-- Datos del triaje -->
    <form [formGroup]="triajeForm">
      <!-- Nombre del Asegurado y Servicio -->
      <div class="section">
        <label>Nombre del Asegurado:</label>
        <input type="text" [value]="currentInsuredName" disabled />

        <label>Servicio:</label>
        <input type="text" [value]="currentServiceName" disabled />
      </div>

      <!-- Fecha de Triaje -->
      <div class="section">
        <label>Fecha de Triaje:</label>
        <input type="datetime-local" [(ngModel)]="triajeForm.value.fechaTriaje" formControlName="fechaTriaje" />
      </div>

      <!-- Signos Vitales -->
      <div class="section">
        <label>Presión Arterial (mmHg):</label>
        <input formControlName="presionArterial" type="text" placeholder="Presión Arterial" />

        <label>Frecuencia Cardiaca (lpm):</label>
        <input formControlName="frecuenciaCardiaca" type="number" placeholder="Frecuencia Cardiaca" />

        <label>Temperatura (°C):</label>
        <input formControlName="temperatura" type="number" placeholder="Temperatura" />

        <label>Oxígeno (%):</label>
        <input formControlName="oxigeno" type="number" placeholder="Saturación de Oxígeno" />
      </div>

      <!-- Síntomas y Comentario -->
      <div class="section">
        <label>Síntomas:</label>
        <textarea formControlName="sintomas" placeholder="Descripción de los síntomas"></textarea>

        <label>Comentario:</label>
        <textarea formControlName="comentario" placeholder="Comentario adicional"></textarea>
      </div>

      <!-- Prioridad -->
      <div class="section">
        <label>Prioridad:</label>
        <select formControlName="prioridad">
          <option value="" disabled>Seleccione</option>
          <option value="1">Nivel 1 - Resucitación</option>
          <option value="2">Nivel 2 - Emergencia</option>
          <option value="3">Nivel 3 - Urgente</option>
          <option value="4">Nivel 4 - Menos Urgente</option>
          <option value="5">Nivel 5 - No Urgente</option>
        </select>
      </div>

      <!-- Botones de acción -->
      <div class="modal-actions">
        <button type="button" (click)="closeModal()">Cancelar</button>
        <button (click)="onOtherButtonClick()" class="other-button">
          Registrar Triaje
        </button>
      </div>
    </form>
  </div>
</div>